.list {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin: 0 auto;
}

.black {
    display: inline-block;
    background-color: black;
    box-sizing: border-box;
    border: 1px solid blueviolet;
    width: 20px;
    height: 50px;
    color: white;
}

.black:hover {
    background-color: grey;
}

.white {
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid blueviolet;
    width: 20px;
    height: 50px;
    color: black;
}

.white:hover {
    background-color: grey;
}